
    <%- include("header") %>

    <div class="container-fluid mycontainer">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 id="bnvenTitle"><%=name%>, bienvenido/a a 404</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


    </div>

</body>

</html>